NODE_ENV=development
PORT=8080
AUTH0_DOMAIN=pizza42-poc.eu.auth0.com
AUTH0_AUDIENCE=https://api.pizza42.com
AUTH0_ISSUER_BASE_URL=https://pizza42-poc.eu.auth0.com/
MGMT_CLIENT_ID=replace-with-orders-service-client-id
MGMT_CLIENT_SECRET=replace-with-orders-service-client-secret
MGMT_AUDIENCE=https://pizza42-poc.eu.auth0.com/api/v2/
CLAIM_NAMESPACE=https://pizza42.com/
CORS_ORIGIN=http://localhost:5173
